body {
    font-family: "Playwrite GB S", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF9F2;
    color: #493222;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 20px;
    width: 100%;
    margin-bottom: 80px;
}

.left, .right {
    padding: 15px;
}

.left {
    flex: 1;
    text-align: center;
}

.mtexto {
    margin-left: 30px;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex: 2;
    text-align: justify;
}

.titulo {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.125rem;
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-top: 10px;
    font-size: 1rem;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1rem;
}

button {
    margin-top: 20px;
    background-color: #ced6da; /* Cambiar el color del botón */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b0b8bc; /* Cambiar el color del botón al pasar el cursor */
}

.huellitas {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
}

.footer {
    background-color: hsl(29, 36%, 47%);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contador {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: end;
    align-items: end;
    justify-content: end;
    font-size: 1.25rem;
    color: #493222;
    width: 100%;
    display: flex;
}