body {
    font-family: "Cabin", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF9F2;
    color: #493222;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80vw; /* Ajusta el ancho máximo del contenedor */
    margin: 0 5vw; /* Agrega un margen de 5vw a cada lado */
    width: 100%;
    margin-bottom: 8vh;
}

.left, .right {
    padding: 1.5vw;
}

.left {
    flex: 1;
    text-align: center;
    width: 45vw; /* Ajusta el tamaño de la sección izquierda */
}

.mtexto {
    margin-left: 3vw;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex: 1;
    text-align: justify;
    width: 45vw; /* Ajusta el tamaño de la sección derecha */
    flex-direction: column;
}

.titulo {
    font-family: "Titan One", serif;
    font-size: 2.5vw; /* Ajusta el tamaño del título */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 200px;
    
}

p {
    font-size: 1.125vw;
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-top: 1vh;
    font-size: 1vw;
}

input, select, textarea, button {
    width: 100%;
    padding: 1vh;
    margin-top: 0.5vh;
    font-size: 1vw;
}

select[multiple] {
    height: auto;
    min-height: 15vh;
    overflow-y: auto;
}

button {
    margin-top: 2vh;
    background-color: #ced6da;
    color: #493222;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b0b8bc;
}

.huellitas {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1vh;
}

.footer {
    background-color: hsl(29, 36%, 47%);
    color: white;
    text-align: center;
    padding: 2vh 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    font-size: 1vw; 
}

.footer p {
    margin: 0;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 1vw;
}

.footer a:hover {
    text-decoration: underline;
}

.contador {
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    font-size: 1.25vw;
    color: #493222;
    text-align: right;
}