/* estilos-cabecera.css */

body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
}

.cabecera {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navegacion li {
    margin-left: 20px;
}

.navegacion a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navegacion a:hover {
    color: #0056b3;
}

.logo img {
    max-height: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.seccion-popular {
    text-align: center;
    padding: 40px;
}

.seccion-popular h2 {
    color: #333;
    margin-bottom: 10px;
}

.seccion-popular p {
    color: #666;
}
.imageninic{
    height: 100%;
    width: 100%;
}
