/* Estilos generales */
body {
    font-family: 'Cabin', sans-serif;
    background-color: #f7f1e6;
    margin: 0;
    padding: 0;
    color: #493222;
}

h1 {
    font-family: "Titan One", serif;
    font-size: 2.5vw; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    font-weight: 400;
}

a {
    font-family: "Titan One", serif;
    font-weight: 400;
    font-style: normal;
}
.contenedor-principal {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
.encabezado {
    text-align: center;
    color: #493222;
    padding: 5px;
}


/* Menú de categorías */
.menu-categorias {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

/* Estilo general para todos los botones en el menú */
.menu-categorias .categoria-tab {
    text-decoration: none;
    background-color: hsl(29, 36%, 47%);
    color: white;    
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease;
    
}


/* Mostrar la sección cuando está en :target */
.categoria-seccion:target {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 40px;
    margin-top: 20px;
}

.menu-categorias .categoria-tab:hover {
    color: #493222;
    font-weight: 400; /* También se asegura el peso aquí */
}

/* Cambiar color de texto del botón activo */
body:has(#popular:target) .menu-categorias a[href="#popular"],
body:has(#bolleria:target) .menu-categorias a[href="#bolleria"],
body:has(#cafes:target) .menu-categorias a[href="#cafes"],
body:has(#tes:target) .menu-categorias a[href="#tes"],
body:has(#bebidas:target) .menu-categorias a[href="#bebidas"] {
    color: #493222; /* Color de texto cuando está activo */
    font-weight: 400;
}


/* Contenedor de productos */
.contenedor-productos {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas */
    gap: 40px;
    margin-top: 40px;
    justify-items: center;
}

/* Mostrar solo la sección activa */
.categoria-seccion {
    display: none;
    
}

#popular {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 40px;
    margin-top: 20px;
}

/* Mostrar la sección cuando está en :target */
.categoria-seccion:target {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 40px;
    margin-top: 20px;
}

/* Contenedor de la tarjeta */
.producto {
    background-color: hsl(29, 36%, 47%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 5px 5px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease;
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Imagen del producto */
.producto img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.otras-bebidas .producto img {
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: contain;
}

/* Nombre del producto */
.producto h3 {
    font-weight: 400;
    font-size: 16px;
    color: #FFF9F2;
    margin-top: 110px;
    margin-bottom: 2px;
    
}

/* Descripción del producto */
.producto p {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Precio */
.producto .precio {
    font-size: 16px;
    font-weight: bold;
    color: #493222;
    margin-top: 2px;
}
